.mainContent {
  display: flex !important;
  gap: 50px;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.MuiContainer-maxWidthLg {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media only screen and (max-width: 576px) {
  .mainContent {
    gap: 30px;
  }
}
